body { 
    margin:0;
    padding:0; 
}

#map { 
    position:absolute; 
    top:50px; 
    bottom:0; 
    width:100%; 
    
}
div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
  border: 1px solid;
  border-radius: 15px;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}


/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}

/*Layer Menu*/

.menu-ui {
  background:#fff;
  position:absolute;
  top:60px;right:10px;
  z-index:1;
  border-radius:3px;
  width:120px;
  border:1px solid rgba(0,0,0,0.4);
  }
.menu-ui a {
    font-size:13px;
    color:#404040;
    display:block;
    margin:0;padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
    }
.menu-ui a:first-child {
      border-radius:3px 3px 0 0;
      }
.menu-ui a:last-child {
      border:none;
      border-radius:0 0 3px 3px;
      }
.menu-ui a:hover {
      background:#f8f8f8;
      color:#404040;
      }
.menu-ui a.active {
      background:#000000;
      color:#FFF;
      }
.menu-ui a.active:hover {
    background:#3074a4;
        }


/* Choropleth */
.legend {
			text-align: left;
			line-height: 18px;
			color: #555;
		}
		.legend i {
			width: 18px;
			height: 18px;
			float: left;
			margin-right: 8px;
			opacity: 0.7;
		}

/*map overlay UI*/

.map-overlay {
    font: 20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 25%;
    bottom: 15;
    left: 0;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay h2 {
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
}

.map-overlay .legend .bar {
    height: 10px;
    display: inline-block;
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}

.menu-drop {
  position:absolute;
  bottom:10px;
  right:10px;
  }
path {
  -webkit-transition:fill 200ms;
          transition:fill 200ms;
  }


/*subzone query*/

.subzones {
  position:absolute;
  top:10px;
  right:10px;
  z-index:1000;
  }
  .subzones strong {
    background:#404040;
    color:#fff;
    display:block;
    padding:10px;
    border-radius:3px;
    }



/* coordinates*/
pre.ui-coordinates {
  position:absolute;
  bottom:20px;
  left:10px;
  padding:5px 10px;
  background:rgba(0,0,0,0.5);
  color:#fff;
  font-size:11px;
  line-height:18px;
  border-radius:3px;
  }



